# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#!include:.gitignore
.gcloudignore
.git
.gitignore
terraform
tests
local-run.sh
LICENSE
.pre-commit-config.yaml
pyproject.toml
NOTICE
README.md
setup.cfg
build.sh
poetry.lock
